<html>
<body>
    <div class="login">
       <h1>Athlete Rating Measure</h1>
   
       <form action="{{ url_for('predict_datapoint')}}" method="post">
        <h1>
            <legend>Select the Athlete</legend>
        </h1>
        <div class="mb-3">
            <label class="form-label">Athlete</label>
            <select class="form-control" name="athlete" placeholder="Enter the name of the athlete" required>
                <option class="placeholder" selected disabled value="">Select the athlete</option>
                <option value="arda guler">
                    kilicdaroglu
                </option>
            </select>
        </div>
    </form>
    <h2>
       Current sentiment distribution is {{results}}
    </h2>
   <body>
</html>