<html>
<body>
    <div class="login">
       <h1>Public Figure Opinion Measure</h1>
   
       <form action="{{ url_for('predict_datapoint')}}" method="post">
        <h1>
            <legend>Select the Public figure</legend>
        </h1>
        <div class="mb-3">
            <label class="form-label">Figure</label>
            <select class="form-control" name="figure" placeholder="Enter the name of the public figure" required>
                <option class="placeholder" selected disabled value="">Select the athlete</option>
                <option value="arda güler">
                    arda güler
                </option>
            </select>
        </div>
        <div class="mb-3">
            <input class="btn btn-primary" type="submit" value="Predict the public opinion" required />
        </div>
    </form>
    <h2>
       Current sentiment distribution is {{results}}
    </h2>
   <body>
</html>

